@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
div#countryApp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.theme-light div#countryApp {
  background-color: #fafafa;
}
.theme-dark div#countryApp {
  background-color: #202c37;
}
a {
  text-decoration: none;
  padding: 25px;
}
.theme-light a {
  color: #111517;
}
.theme-dark a {
  color: #fff;
}
h1 {
  padding: 25px;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}
.theme-light header {
  color: #111517;
  background-color: #fff;
}
.theme-dark header {
  color: #fff;
  background-color: #2b3945;
}
header a {
  font-size: 1.6em;
}
.shadow {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.input-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 96px;
  padding-left: 150px;
  position: relative;
}
.theme-light .input-container {
  color: #111517;
  background-color: #fff;
}
.theme-dark .input-container {
  color: #fff;
  background-color: #2b3945;
}
.input-container.search::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "\f002";
  font-size: 30px;
  font-family: "FontAwesome";
  width: 150px;
  height: 96px;
  top: 0;
  left: 0;
}
input[type="text"] {
  outline: none;
  font-size: 1.6em;
}
.theme-light input[type="text"] {
  color: #111517;
  background: transparent;
  border: none;
}
.theme-dark input[type="text"] {
  color: #fff;
  background: transparent;
  border: none;
}
.theme-light input[type="text"]::placeholder {
  color: #111517;
}
.theme-dark input[type="text"]::placeholder {
  color: #fff;
}
.dropdown {
  margin-top: 50px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  outline: none;
  font-size: 1.6em;
  font-weight: 600;
  height: 96px;
  padding-left: 50px;
  position: relative;
}
.theme-light .dropdown {
  color: #111517;
  background-color: #fff;
}
.theme-dark .dropdown {
  color: #fff;
  background-color: #2b3945;
}
.dropdown .header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown .header .title:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f105";
  right: 25px;
}
.dropdown .header .title.open:after {
  content: "\f107";
}
.dropdown .list {
  display: flex;
  padding: 20px 0;
  width: 100%;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  top: 105px;
  left: 0;
  border-radius: 10px;
}
.theme-light .dropdown .list {
  background-color: #fff;
}
.theme-dark .dropdown .list {
  background-color: #2b3945;
}
.dropdown .list li {
  padding: 10px 50px;
}
.card {
  margin-top: 50px;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}
.theme-light .card {
  background-color: #fff;
  color: #111517;
}
.theme-dark .card {
  background-color: #2b3945;
  color: #fff;
}
.card .thumbnail {
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.card .thumbnail img {
  position: absolute;
  width: 100%;
}
.card .title {
  font-size: 35px;
  font-weight: 800;
  padding: 25px;
}
.card .body {
  font-size: 1.6em;
  padding: 10px 25px 25px 25px;
}
.card .body ul {
  list-style-type: none;
}
.card .body ul li {
  padding: 10px 0;
}
.card .body ul li .label {
  font-weight: 800;
}
main {
  padding: 0 25px;
  flex-grow: 1;
}
footer {
  padding: 25px;
}
.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  color: #63687e;
}
